<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Wiki </title>

    <!-- Include HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>

    <!-- include Water CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">

</head>

