<%= render "src/views/header.ecr" %>

<body>

    <%= render "src/views/nav.ecr" %>

    <h1>
        <div> The route <%= name %> is not (yet) implemented </div>
    </h1>
    
</body>

<%= render "src/views/footer.ecr" %>

