<nav>
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
        <a href="/new_article">New Article</a>
        <a href="/register">Register</a>
        <a href="/validate_rights_page">Validate</a>
        <a href="/login">Login</a>
        <a href="/profile">Profile</a>
</nav>
